
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.tech-stack-logos-container {
  overflow: hidden;
  margin-left: 100px;
  margin-right: 30px;
}

.tech-stack-logos {
  display: flex;
  animation: moveLogos 10s linear infinite; /* Adjust animation duration and timing function as needed */
}
.project-card .project-details a {
  color: #AF4CE0;
  text-decoration: none; /* Optional: removes underline from the link */
}

.project-card .project-details a:hover {
  text-decoration: underline; /* Optional: adds underline on hover for better user experience */
}
/* Individual logo style */
.tech-logo {
  width: 120px; 
  height: auto;
  margin: 0 20px; 
}

/* Keyframes for the animation */
@keyframes moveLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#footer h5 {
  padding-left: 100px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
  color: black;
}

@media only screen and (max-width: 768px) {
  .description p {
    font-size: 16px; /* Smaller font size for smaller screens */
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between project cards */
  }

  .project-card {
    width: 60%; /* Make each project card take full width on smaller screens */
    max-width: 60%; /* Ensure no overflow */
  }

  .project-card img,
  .project-card video {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
  }
  .tech-logo {
    width: 60px; 
    height: auto;
    margin: 0 10px; 
  }

  h2 {
    font-size: 20px; /* Smaller font size for phone screens */
  }
}